/* 한국어는 Black Han Sans, 영어는 Anton 적용 */
body {
  font-family: "Black Han Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffebff; /* 배경색 */
  text-align: center;
}

/* 영어 텍스트에 Anton 폰트 적용 */
h1,
h2,
h3,
.banner-text h2,
button,
.sort-button {
  font-family: "Anton", sans-serif; /* 영어 폰트 적용 */
}


.container {
  margin: 50px auto;
  width: 80%;
  background-color: #f8e8ff;
  padding: 20px;
  border-radius: 10px;
}

.heading {
  font-size: 2rem;
  color: #ae85f7;
  margin-bottom: 20px;
}

.sub-heading {
  font-size: 1.2rem;
  color: #8c6ed6;
  margin-bottom: 30px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.button-grid button {
  background-color: #ae85f7;
  color: white;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  word-break: break-all;
}

.button-grid button:hover {
  background-color: #8c6ed6;
}

@media (max-width: 1024px) {
  .container {
    margin-top: 90px;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 90px 16px 50px;
    width: calc(100% - 32px);
  }
}

@media (max-width: 600px) {
  .button-grid {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    gap: 32px;
  }
}
