<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community</title>
    <link rel="icon" href="성뭐먹3.png" type="image/png" />
    <link rel="stylesheet" href="community_sub.css" />
    <!-- 스타일 시트 링크 -->
    <link rel="stylesheet" href="header_footer.css" />
    <!-- 헤더 및 푸터 스타일 -->
    <script src="header_footer.js" defer></script>
   <!-- 스타일 -->
   <link
   href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
   rel="stylesheet"
 />
  </head>
  <body>
    <!-- Header Placeholder -->
    <div id="header-placeholder"></div>
    <!-- 제목 섹션 -->
    <div class="page-header"> 학식 게시판</div>


    <!-- Main Content -->
    <div
      id="login-message"
      style="display: none; text-align: center; margin-top: 20px"
    >
    </div>

    <div class="search-bar-container">
      <div class="search-bar">
        <input
          type="text"
          id="search-input"
          placeholder="궁금한 내용을 검색해보세요!"
        />
        <button id="search-btn">🔍</button>
      </div>
    </div>
    <ul class="filter-box">
      <li>
          <select id="post-category">
              <option value="">최신순</option>
              <option value="low">오래된 순</option>
              <option value="mid">좋아요 많은 순</option>
   
          </select>
      </li> 
</ul>
    
    <div class="new-banner" onclick="location.href='haksik_new.html'">
      새 글 작성
    </div>
    <div id="post-list">
      <!-- 게시물 목록이 동적으로 여기에 추가됨 -->
    </div>
    
    
<!-- 사이트 안내 메시지 -->
<div id="site-message">
  <button id="close-message">X</button>
  <p>환영합니다❤️ <br> 학식 게시판 좋아요와 댓글을 통해 <br> 서로 소통하며 학식 정보를 공유해보세요!</p>

  <button id="hide-today">오늘은 더 이상 보지 않기</button>
</div>


    <!-- Footer Placeholder -->
    <div id="footer-placeholder"></div>

  </body>
  <script src="haksik.js"></script>
</html>
