/* 한국어는 Black Han Sans, 영어는 Anton 적용 */
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffebff; /* 배경색 */
}


/* 로그인 섹션 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.logo {
  margin-bottom: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* 화면 높이에 맞춤 */
  padding: 20px; /* 내부 여백 */
  background-color: #f9f0ff;
}

.login-box {
  background-color: #f0e7ff;
  width: 100%; /* 컨테이너 너비에 맞춤 */
  max-width: 400px; /* 최대 너비 제한 */
  padding: 30px; /* 기본 패딩 */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h2 {
  color: #a08ad9;
  font-size: 40px;
  margin-bottom: 40px;
}

.input-group {
  margin-bottom: 40px;
}

.input-group label {
  display: block;
  text-align: left;
  color: 8e89F6;
  margin-bottom: 8px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

button {
  background-color: #a08ad9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #a08ad9;
}

.register {
  margin-top: 10px;
}

.register a {
  color: #a08ad9;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}


@media (max-width: 1024px) {
  .login-box {
    padding: 130px 32px;
    width: 100%;
  }
  .register {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
  }
}
@media (max-width: 768px) {
  .login-box {
    padding: 60px 16px;
  }
  .container {
    min-height: 700px;
  }
}
