/* 한국어는 Black Han Sans, 영어는 Anton 적용 */
body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffebff; /* 배경색 */
}

/* 영어 텍스트에 Anton 폰트 적용 */
h1,
h2,
h3,
.banner-text h2,
button,
.sort-button {
  font-family: "Noto Sans KR", sans-serif;
}


.sort-button {
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #afacfb;
  border: none;
  color: white;
  font-size: 1.2em;
  border-radius: 25px;
  cursor: pointer;
  font-family: "Noto Sans KR", sans-serif;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 600px;
}

/* 가게 리스트 */
.new-store-list {
  display: flex;
  flex-direction: column; /* 가게 상자들을 위아래로 정렬 */
  justify-content: center;
  gap: 20px; /* 각 가게 상자 사이 간격 */
  margin-bottom: 40px;
}

.new-store-item {
  display: flex; /* 이미지와 텍스트를 가로로 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  background-color: #fff;
  border: 1px solid #8e89f6;
  border-radius: 10px;
  padding: 20px; /* 상자 내부 패딩 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 750px; /* 상자 너비 설정 */
  height: 200px; /* 상자 높이 증가 */
  margin: 0 auto; /* 가운데 정렬 */
}

.store-img {
  width: 200px; /* 이미지 너비 */
  height: 150px; /* 이미지 높이 */
  object-fit: cover; /* 이미지 비율 유지 */
  border-radius: 5px;
  margin-right: 20px; /* 이미지와 텍스트 사이 간격 */
}

.store-details {
  text-align: left; /* 텍스트 왼쪽 정렬 */
  font-family: "Noto Sans KR", sans-serif;
}

.store-name {
  font-size: 2em;
  color: #8e89f6;
  margin-bottom: 10px;
}

.store-description {
  font-size: 1.2em; /* 설명 글씨 */
  color: #333;
}

/* 자세히 보기 버튼 스타일 */
.details-button {
  padding: 10px 20px;
  background-color: #afacfb;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  font-family: "Noto Sans KR", sans-serif;
  transition: background-color 0.3s;
}
.top-category .store-list {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  gap: 20px; /* 각 가게 사이 간격 */
}

@media (max-width: 1024px) {
  .sort-button-container {
    margin-top: 60px;
  }
  .sort-button {
    margin-left: 16px;
  }
  .new-store-item {
    width: calc(100% - 32px);
  }
}
@media (max-width: 600px) {
  .new-store-item {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }
  .store-img {
    margin-right: 0;
    width: 100%;
    aspect-ratio: 200/150;
    height: auto;
  }
}
