/* 기본 설정 */
body {
  font-family: "Black Han Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffebff; /* 배경색 */
  box-sizing: border-box;
}

/* 영어 텍스트에 Anton 폰트 적용 */
h1,
h2,
h3,
.banner-text h2,
button,
.sort-button {
  font-family: "Anton", sans-serif;
}

/* 공통 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 로고 */
.logo {
  margin-bottom: 50px;
}

/* 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150vh;
  background-color: #f9f0ff;
  padding: 20px; /* 여백 추가 */
}

/* 레지스터 박스 */
.register-box {
  background-color: #f0e7ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

/* 제목 */
h2 {
  color: #a08ad9;
  font-size: 40px;
  margin-bottom: 40px;
}

/* 입력 그룹 */
.input-group {
  margin-bottom: 40px;
}

.input-group label {
  display: block;
  text-align: left;
  color: #000000; /* 유효한 색상 코드 */
  margin-bottom: 8px;
}

.input-group input {
  width: 100%; /* 컨테이너에 맞게 조정 */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

/* 버튼 */
button {
  background-color: #a08ad9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #7e6db7; /* 호버 시 약간 어두운 색 */
}

/* 등록 링크 */
.register {
  margin-top: 10px;
}

.register a {
  color: #a08ad9;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}

/* 에러 메시지 */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* 반응형 디자인 */
@media (max-width: 1024px) {
  .register-box {
    padding: 30px 32px;
  }
}

@media (max-width: 768px) {
  .register-box {
    padding: 20px 16px;
  }

  .container {
    height: auto;
    min-height: 100vh; /* 콘텐츠가 많아질 경우 스크롤 허용 */
    padding: 10px;
  }
}
